<h2>グループ</h2>
<% @group_rooms.each do |room| %>
  <%= link_to room.title, room_path(room) %>
<% end %>

<h2>友達</h2>
<% @friend_users.each do |user| %>
  <%= link_to user.name, users_path(user) %>
<% end %>